/*-----BASE-----*/

*, 
*::after, 
*::before	{
	box-sizing: border-box;
/*	border: 1px solid red;*/
}

body	{
	margin: 0;
	padding: 0;
	line-height: 1.5;
	font-size: 1em;
	font-family: sans-serif;
}

h1,
h2	{
	text-align: center;
	color: #666;
}

h1	{
	font-size: 1.6em;
}

h2	{
	font-size: 1.35em;
	margin-bottom: 0;
}

.wrap	{
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

a	{
	text-decoration: none;
}



/*-----HEADER-----*/

header	{
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
	margin: 0 auto;
	background: #4578ff;
	height: 60px;
	width: 100%;
	padding: 0 .5em;
	color: #eee;
}

.app-name	{
	margin: 0 auto 0 0;
	padding: 0;
	font-size: 1.5em;
	font-weight: 100;
	color: white;
}

h1.app-name span	{
	font-weight: 600;
}

.notification-icon	{
	width: 40px;
	margin: .3em;
	transition: .4s;
}

.notification-icon:hover	{
	transform: scale(1.1);
	cursor: pointer;
}

.avatar	{
	padding-left: 8px;
	border-left: 1px solid #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
}

.avatar-img	{
	width: 100%;
	max-width: 60px;
	padding: .3em;
	border-radius: 50%;
}

.avatar-name	{
	align-self: center;
	margin: .35rem;
}



/*-----NAVIGATION ICONS-----*/

.main-navigation	{
	margin: 0 auto;
	padding: 0;
	background: #3456ae;
}

nav	{
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.link	{
	flex: 1;
	margin: 0;
	padding: 0;
	transition: .4s;
}

.link:hover	{
	border-radius: 8px;
	background: #789aaa;
	transform: scale(1.15);
}

.link svg	{
	width: 100%;
	max-height: 60px;
	margin: 0;
	padding: .75em .5em;
}

.link:hover svg .st0	{
	fill: yellow;
}

/* ---- searchbox ----*/

.h1-searchbox	{
	text-align: center;
}

.h1-searchbox input	{
	border-radius: .5em;
	border: 1px solid #ccc;
	padding: .9em 1em;
	width: 280px;
}

/* -----ALERTmessage----- */

#alert	{
	margin: 20px auto;
	width: 90%;
	max-width: 1000px;
	background: linear-gradient(to top, #34aaff, #3488aa);
	color: #fff;
	padding: 8px;
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.alert-message	{
	margin: 10px;
}

.alert-message span	{
	font-weight: 600;
	letter-spacing: 3px;
}

.cancel-button	{
	font-size: 1.5em;
	padding: 6px;
	border: 2px solid #000;
	background: #fff;
	transition: .3s;
	width: 40px;
	text-align: center;
}

.cancel-button:hover,
.cancel-button:active,
.cancel-button:focus	{
	background: #000;
	color: #fff;
	transform: scale(1.13);
	cursor: pointer;
}


/*---CHARTS---*/

#traffic,
#dailyTraffic,
#mobileUser	{
	width: 100%;
	max-width: 1100px;
	margin: 5px auto;
	padding: 15px;
}

.traffic div  {
	margin: 0 auto;
	width: 80%;
	display: block;
	max-width: 1000px;
}

.traffic div fieldset	{
	border: none;
}

.traffic,
.daily-traffic-mobile-user	{
	border: 1px solid #ccc;
}

.daily-traffic,
.mobile-users	{
	border: 1px solid #ccc;
}



/* ----- SOCIAL STATS -----*/

/* SOCIAL-STATS -----*/
	
.social-stats {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 10px 0;
	margin: 0 auto;
	list-style: none;
	width: 100%;
}

.social-stats li  {
	align-self: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	flex: 1;
	outline: 1px solid #ccc;
	margin: 5px;
	padding: 10px;
	max-width: 300px;
}

.social-stats li img  {
	width: 100%;
	max-width: 100px;
	margin: 10px;
}


.social-stats li div {
	display: flex;
	flex-direction: column;
	font-size: 1.3em;
}


/* -----NEW MEMBERS AND RECENT ACTIVITY----- */


#newMembers,
#recentActivity {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

.new-members,
.recent-activity  {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.new-members li,
.recent-activity li  {
	padding: 10px;
	flex: 1;
}

.new-members li div {
	padding: 8px;
}

.new-members li img,
.recent-activity li img {
	border-radius: 50%;
	width: 90px;
}

.new-members li div p {
	margin: 0 auto;
}

.new-members li div p a {
	display: block;
}

.recent-activity li div p {
	margin: 0;
	padding: 8px;
	width: 100%;
	display: flex;
	text-align: left;
}

.recent-activity li:hover div p a {
	color: #45aa99;
	font-weight: 700;
}

.arrow  {
	margin-left: auto;
	padding: 5px 10px;
	font-size: 2em;
	color: #aaa;
	transition: color .3s;
}


/* -----MESSAGE USER AND SETTINGS -----*/

.message-user-settings	{
	border: 1px solid #ccc;
	margin: 0 auto;
	width: 100%;
}

.message-user,
.settings	{
	text-align: center;
	margin: 10px;
}

div[role="form"]	{
	display: flex;
	width: 100%;
	flex-direction: column;
}

.message-user input,
.settings select	{
	width: 100%;
	max-width: 500px;
	padding: 10px 15px;
	margin: 10px auto;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.message-user textarea	{
	width: 100%;
	max-width: 500px;
	height: 100px;
	color: black;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 10px auto;
	padding: 15px;
}

.message-user button,
#sendButton,
.settings button[type="submit"]	{
	background: #3467aa;
	color: #fff;
	padding: 10px 15px;
	margin-top: 15px;
	width: 200px;
	height: 45px;
	border-radius: 8px;
	border: none;
}

.settings	{
	border-top: 1px solid #ccc;
	width: 100%;
	margin: 0 auto;
}

.switch-light {
	display: flex;
	margin: 10px auto;
	padding: 10px;
	font-weight: 600;
	width: 100%;
	max-width: 450px;
}

.switchOnOff  {
	margin-left: auto;
}

.settings button[type="reset"]	{
	background: #7a8a4c;
	color: #fff;
	padding: 10px 15px;
	margin: 25px;
	width: 200px;
	height: 45px;
	border-radius: 8px;
	border: none;
}


/*-- POP UP MESSAGE --*/

#pop-up	{
	position: relative;
	width: 100%;
}

.popUpDiv {
	position: absolute;
	top: 30%;
	right: 30%;
	background: linear-gradient(to top, #34aaff, #3488aa);
	color: white;
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
	padding: 10px 15px;
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
	transition:: all .4s;
}

.popUpDiv h1 {
	color: white;
	display: inline-block;
	margin: 0;
	align-self: center;
}

#cancelPopUp {
	font-size: 1.3em;
	border: 1px solid white;
	padding: 5px 10px;
	margin: 10px;
	align-self: center;
	cursor: pointer;
	transition: all .4s;
}

#cancelPopUp:hover,
#cancelPopUp:focus,
#cancelPopUp:active {
	background: #000;
	color: #fff;
}




/*-----MEDIA QUERIES-----*/

@media (min-width: 768px)	{
	
	/* BASE -----*/
	
	.wrap	{
		flex-direction: row;
	}
	
	.main-navigation	{
		min-width: 70px;
		max-width: 80px;
		margin: 0;
	}
	
	nav	{
		flex-direction: column;
	}
	
	main	{
		margin: 0;
		width: 100%;
	}
	
	/* h1-SEARCHBOX -----*/
	.h1-searchbox	{
		display: flex;
		padding: 15px;
	}
	
	.h1-searchbox h1	{
		margin: 0;
		padding: 0;
	}
	
	.h1-searchbox input	{
		margin-left: auto;
	}
	
	/*----CHARTS----*/
	
	.daily-traffic-mobile-user	{
		display: flex;
		justify-content: space-around;
		width: 100%;
		margin: auto;
	}
	
	.daily-traffic,
	.mobile-users	{
		width: 50%;
		border: 1px solid #ccc;
	}
	
	.traffic div	{
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
	}
	
	.traffic div h2	{
		margin: 0;
	}
	
	.traffic div fieldset	{
		width: 100%;
		max-width: 450px;
	}
	
  /*----- SOCIAL STATUS -----*/

	.social-stats li {
		flex-direction: row;
	}


	/* -----NEW MEMBERS AND RECENT ACTIVITY----- */
	
	.members-activity	{
		display: flex;
		justify-content: space-around;
		width: 100%;
		margin: auto;
	}
	
	.members-activity div	{
		flex: 1 50%;
	}
	
	.members-activity div h2	{
		border: 1px solid #ccc;
	}
	
	.new-members,
	.recent-activity  {
		flex-direction: column;
		width: 100%;
	}

	.new-members li,
	.recent-activity li {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		height: 100px;
		border: 1px solid #ccc;
		transition: border-bottom .3s;
	}

	.new-members li:hover,
	.recent-activity li:hover {
		cursor: pointer;
		border-bottom: 1px solid #45aa99;
	}

	.new-members li img,
	.recent-activity li img {
		width: 100%;
		max-width: 60px;
		height: 60px;
		align-self: center;
	}

	.new-members li div {
		text-align: left;
	}


	.new-members li div p a {
		display: inline-block;
	}

	.new-members li div p span {
		float: right;
	}
}


@media (min-width: 1024px)	{
	.message-user-settings	{
		display: flex;
		width: 100%;
	}
	
    .message-user {
		margin: 0;
    }

	.message-user,
	.settings	{
		flex: 1;
		border: 1px solid #ccc;
	}
	
	#users,
	#messageInput	{
		width: 100%;
		max-width: 400px;
	}
}