/*-----BASE-----*/

*, 
*::after, 
*::before	{
	box-sizing: border-box;
	/*border: 1px solid red;*/
}

body	{
	margin: 0;
	padding: 0;
	line-height: 1.5;
	font-size: 1em;
	font-family: sans-serif;
}

h1,
h2	{
	text-align: center;
	color: #666;
}

h1	{
	font-size: 1.6em;
}

h2	{
	font-size: 1.35em;
	margin-bottom: 0;
}

.wrap	{
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

/*-----HEADER-----*/

header	{
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
	margin: 0 auto;
	background: #7171C6;
	height: 60px;
	width: 100%;
	padding: 0 .5em;
	color: #eee;
}

.app-name	{
	margin: 0 auto 0 0;
	padding: 0;
	font-size: 1.5em;
	font-weight: 100;
	color: white;
}

h1.app-name span	{
	font-weight: 600;
}

.notification-icon	{
	width: 40px;
	margin: .3em;
}

.avatar	{
	padding-left: 8px;
	border-left: 1px solid #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
}

.avatar-img	{
	width: 100%;
	max-width: 60px;
	padding: .3em;
	border-radius: 50%;
}

.avatar-name	{
	align-self: center;
	margin: .35rem;
}



/*-----NAVIGATION ICONS-----*/

.main-navigation	{
	margin: 0 auto;
	padding: 0;
	background: #42426F;
}

nav	{
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.link	{
	flex: 1;
	margin: 0;
	padding: 0;
	transition: .4s;
}

.link:hover	{
	border-radius: 8px;
	background: #789aaa;
	transform: scale(1.15);
}

.link svg	{
	width: 100%;
	max-height: 60px;
	margin: 0;
	padding: .75em .5em;
}

.link:hover svg .st0	{
	fill: yellow;
}

/* ---- searchbox ----*/

.h1-searchbox	{
	text-align: center;
}

.h1-searchbox input	{
	border-radius: .5em;
	border: 1px solid #ccc;
	padding: .9em 1em;
	width: 280px;
}

/* -----ALERTmessage----- */

#alert	{
	margin: 20px auto;
	width: 90%;
	max-width: 1000px;
	background: #9393C6;
	color: #fff;
	padding: 8px;
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.alert-message	{
	margin: 10px;
}

.alert-message span	{
	font-weight: 600;
	letter-spacing: 3px;
}

.cancel-button	{
	font-size: 1.5em;
	padding: 6px;
	border: 2px solid #000;
	background: #fff;
	transition: .3s;
	width: 40px;
	text-align: center;
}

.cancel-button:hover,
.cancel-button:active,
.cancel-button:focus	{
	background: #000;
	color: #fff;
	transform: scale(1.13);
}


/*---CHARTS---*/

canvas	{
	width: 100%;
	max-width: 1000px;
	margin: 5px auto;
	padding: 15px;
}



/* ----- SOCIAL STATS -----*/

/* SOCIAL-STATS -----*/
	
.social-stats	{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.social-stats > *	{
	display: flex;
	align-items: center;
}

.social-stats h3	{
	margin: 0;
	padding: 0;
}

.twitter,
.facebook,
.google	{
	margin: 0 auto;
	text-align: center;
}

.twitter svg,
.facebook svg,
.google svg	{
	margin: 5px auto;
	width: 100%;
	max-width: 100px;
	height: 100%;
	max-height: 100px;
}

/* -----NEW MEMBERS AND RECENT ACTIVITY----- */

/*The containers for the new members 
	recent activity.*/
.new-members,
.recent-activity	{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

/*This is the articles.*/
.new-member-item,
.recent-activity-item	{
	flex: 1 50%;
	padding: 10px;
	border: 1px solid #ccc;
}

.new-member-item img,
.recent-activity-item img	{
	border-radius: 100%;
	width: 90px;
}

.new-member-item p a	{
	display: block;
	margin: 0 auto;
	text-decoration: none;
}

.recent-activity-item span	{
	font-size: 2em;
	margin-left: auto;
}

/* -----MESSAGE USER AND SETTINGS -----*/

.message-user-settings	{
	border: 1px solid #ccc;
	margin: 10px auto;
}

.message-user,
.settings	{
	text-align: center;
	margin: 10px;
}

.message-user input,
.settings select	{
	width: 100%;
	max-width: 500px;
	padding: 10px 15px;
	margin-bottom: 15px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.message-user textarea	{
	width: 100%;
	max-width: 500px;
	height: 100px;
	color: black;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.message-user button,
.settings button[type="submit"]	{
	background: #3467aa;
	color: #fff;
	padding: 10px 15px;
	margin-top: 15px;
	width: 200px;
	height: 45px;
	border-radius: 8px;
	border: none;
}

.settings	{
	border-top: 1px solid #ccc;
}

.settings button[type="reset"]	{
	background: #7a8a4c;
	color: #fff;
	padding: 10px 15px;
	margin: 25px;
	width: 200px;
	height: 45px;
	border-radius: 8px;
	border: none;
}



/*-----MEDIA QUERIES-----*/

@media (min-width: 768px)	{
	
	/* BASE -----*/
	
	.wrap	{
		flex-direction: row;
	}
	
	.main-navigation	{
		min-width: 70px;
		max-width: 80px;
		margin: 0;
	}
	
	nav	{
		flex-direction: column;
	}
	
	main	{
		margin: 0;
		width: 100%;
	}
	
	/* h1-SEARCHBOX -----*/
	.h1-searchbox	{
		display: flex;
		padding: 15px;
	}
	
	.h1-searchbox h1	{
		margin: 0;
		padding: 0;
	}
	
	.h1-searchbox input	{
		margin-left: auto;
	}
	
	/* -----NEW MEMBERS AND RECENT ACTIVITY----- */
	
	.members-activity	{
		display: flex;
		justify-content: space-around;
		width: 100%;
		max-width: 1000px;
		margin: 0 auto;
	}
	
	.members-activity div	{
		flex: 1 50%;
	}
	
	.members-activity div h2	{
		border: 1px solid #ccc;
	}
	
	.new-members,
	.recent-activity	{
		flex-direction: column;
		align-items: flex-start;
	}
	
	.new-member-item,
	.recent-activity-item	{
		display: flex;
		width: 100%;
		height: 100px;
	}
	
	.new-member-item img,
	.recent-activity-item img	{
		width: 100%;
		max-width: 60px;
		height: 60px;
		align-self: center;
	}
	
	
	.recent-activity-item p,
	.new-member-item p	{
		width: 100%;
		text-align: left;
	}
	
	.new-member-item p a	{
		display: inline-block;
	}
}

@media (min-width: 1080px)	{
	.message-user-settings	{
		display: flex;
		width: 100%;
		max-width: 1080px;
		border: none;
	}
	
	.message-user,
	.settings	{
		flex: 1 50%;
		border: none;
	}
}